@use 'variaveis';

.header {

    &__container {
        background: linear-gradient(to bottom, variaveis.$backGroundColorDegrade1, variaveis.$backGroundColorDegrade2);
        padding: 18px;

        &__nav {
            text-align: center;

            a {
                display: inline-block;
                position: relative;
                margin: 0 14px;

                img {
                    display: block;
                    width: 30px;
                    height: auto;
                    transition: all 0.3s ease;

                    &:hover {
                        transform: translateY(-3px);
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    width: 100%;
                    height: 2px;
                    background-color: #000;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }

        &__item {
            width: 50vw;
            display: block;
            margin: 0px auto;

            h1 {
                text-align: center;
                margin: 10px 0px;
            }

            p {
                text-indent: 8px;
                font-size: 1.2em;
            }
        }

        &__imagens {
            text-align: center;
            margin: 12px 0px;

            img {
                height: 180px;
                transition: transform 0.5s ease;
                margin: 0px 12px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    // Responsividade do Tablet
    @media (max-width: 1024px) {

        &__container {

            &__item {
                width: 70vw;
            }

            &__imagens {
                
                img {
                    height: 150px;
                }
            }
        }
    }

    // Responsividade do Tablet

    // Responsividade do Mobile
    @media (max-width: 767px) {

        &__container {

            &__item {
                width: 100%;
            }

            &__imagens {

                img {
                    width: 100%;
                }
            }
        }
    }

    // Responsividade do Mobile
}